body {
    box-sizing: border-box;
    
}
header {
    text-align: center;
}
#game-board {
    border-top: 5px solid black;
    text-align: center;
    margin: 0 30px;
    display: flex;
    justify-content: center;  
    flex-direction: column;
}
.keeping-track {
    padding: 0;
    margin: 0;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2 {
    margin: 50px;
}
.start-button {
    font-size: 20px;
    align-self: center;
    margin: 30px;
    width: 70px;
    height: 5em;
}
.question-form {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.answer-choice {
    display: flex;
    padding: 10px 0px;
    margin-top: 30px;
    border: 2px solid black;
    font-size: 20px;
}
